@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', 'Noto Color Emoji';
}

@-webkit-keyframes note-show {
  0% {
    right: -20%;
  }
  100% {
    right: 0;
  }
}

@keyframes note-show {
  0% {
    right: -20%;
  }
  100% {
    right: 0;
  }
}

@-webkit-keyframes note-hide {
  0% {
    right: 0;
  }
  100% {
    right: -20%;
  }
}

@keyframes note-hide {
  0% {
    right: 0;
  }
  100% {
    right: -20%;
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes hide {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes show {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

a {
  text-decoration: none;
}

.section {
  width: 100%;
  height: 100vh;
}

.system-note {
  position: absolute;
  width: 20%;
  height: 80px;
  right: 20%;
  top: 10%;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.error-note {
  background: #ff7c7c;
}

.success-note {
  background: #81ee81;
}

.arrow-back {
  width: 100%;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.arrow-back:hover {
  background: rgba(201, 204, 209, 0.24);
}

.title {
  font-weight: 700;
  font-size: 24px;
  color: #171A1F;
  font-style: normal;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.36px;
}

.description {
  font-weight: 400;
  font-size: 15px;
  color: #71747A;
  letter-spacing: -0.24px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
}

.button {
  width: 240px;
  height: 40px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.24px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

.button img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

.select {
  cursor: pointer;
}

.select .select-head-info {
  width: 320px;
  height: 40px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(201, 204, 209, 0.24);
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.select .select-head-info .select-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.24px;
  color: #171A1F;
}

.select .select-head-search {
  display: none;
}

.select .select-body {
  display: none;
}

.select-click {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  overflow-y: auto;
  width: 320px;
  height: 400px;
  border-radius: 8px;
}

.select-click .select-head-info {
  display: none;
}

.select-click .select-head-info .select-text {
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.24px;
  color: #171A1F;
}

.select-click .select-head-search {
  width: 280px;
  height: 40px;
  background: rgba(201, 204, 209, 0.24);
  border-radius: 8px;
  display: -ms-grid;
  display: grid;
  padding-right: 16px;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 32px 1fr;
      grid-template: 1fr / 32px 1fr;
  background: 8px;
}

.select-click .select-head-search .select-icon-search {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-click .select-head-search .select-icon-search img {
  width: 16px;
  height: 16px;
}

.select-click .select-head-search .select-text-input {
  border: none;
  background: none;
  outline: none;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.24px;
  color: #9D9FA3;
}

.select-click .select-body {
  width: 100%;
  height: auto;
  margin-top: 8px;
}

.select-click .select-body .select-body-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 16px;
}

.select-click .select-body .select-body-group .select-body-group-title {
  padding-left: 8px;
  font-weight: 900;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.24px;
  color: #171A1F;
}

.select-click .select-body .select-body-group .select-body-group-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select-click .select-body .select-body-group .select-body-group-content .select-body-group-content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.select-click .select-body .select-body-group .select-body-group-content .select-body-group-content-item:hover {
  background: #F2F3F5;
}

.select-click .select-body .select-body-group .select-body-group-content .select-body-group-content-item .name {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.24px;
  text-align: left;
  color: #171A1F;
}

.select-click .select-body .select-body-group .select-body-group-content .select-body-group-content-item .code {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.24px;
  text-align: right;
  color: #71747A;
}

.page-link {
  outline: none;
  text-decoration: none;
  color: #9D9FA3;
  font-weight: 900;
}

.section-loading {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  overflow: hidden;
}

.tech-support-email {
  color: #248BF2;
}

.app-modal-window-container {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
}

.app-modal-window-container .app-modal-window {
  width: 400px;
  height: auto;
  background: white;
  border-radius: 12px;
  padding: 20px 24px;
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.app-modal-window-container .app-modal-window .modal-window-content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.app-modal-window-container .app-modal-window .modal-window-content .modal-window-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: #171A1F;
}

.app-modal-window-container .app-modal-window .modal-window-content .buttons-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-modal-window-container .app-modal-window .modal-window-content .buttons-container-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.app-modal-window-container .app-modal-window .modal-window-content .buttons-container-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-modal-window-container .app-modal-window .modal-window-content .modal-window-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 24px;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
  border-radius: 8px;
}

.app-modal-window-container .app-modal-window .modal-window-content .modal-window-button-confirm {
  color: white;
  background: #248BF2;
}

.app-modal-window-container .app-modal-window .modal-window-content .modal-window-button-cancel {
  color: #71747A;
}

.app-modal-window-container .app-modal-window .modal-window-content .modal-window-button-ok {
  color: white;
  background: #248BF2;
}

.app-modal-window-container .app-modal-window .modal-window-content .email-change-input-code {
  margin-top: 20px;
  width: 352px;
  height: 40px;
  border-radius: 8px;
  background: rgba(201, 204, 209, 0.24);
  border: none;
  outline: none;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #171A1F;
}

.app-modal-window-container .app-modal-window .modal-window-content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-window_active {
  display: block;
  z-index: 5;
}
/*# sourceMappingURL=style.css.map */